In [4]:
import requests
import numpy as np
import seaborn as sns
import json
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
from matplotlib.pyplot import figure
names=[]
for i in range(1,9):
    for j in range(1,9):
        response = requests.get(f'https://dtf.ru/subsite/subscribers/64953?lastId=631160&lastSortingValue=16{i}{j}078863.118991&mode=raw')
        for items in response.json()['data']['items']:
            names.append(items['label'])
            list_names={
                'nicknames':names
            }
list_names_df=pd.DataFrame(list_names)
print(list_names_df)
list_names_df.to_csv('nicknames.csv',index=False)
plt.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)
pd.options.mode.chained_assignment = None
df = pd.read_csv('nicknames.csv')
df['nicknames_lower'] = df['nicknames'].str.lower().to_excel('nicknames.xlsx',index=False)
df['nicknames_lower'].value_counts(dropna=False)

             nicknames
0               Seroga
1        Артур Гафинец
2       Сергей Абуткин
3             Fix Play
4       Razia Salihova
...                ...
6394      Android User
6395              Loop
6396          Olinessa
6397              mor1
6398  Konstantin Kogay

[6399 rows x 1 columns]

NaN    6399
Name: nicknames_lower, dtype: int64